<div class="row">
 
 <div class="col">
 <div class="card-header border-primary mt-1">
          <h3>Libre</h3>
        </div>
       <a href="/edlibreglobal"><div class="card-header">
          <h8>Globales</h8>
        </div></a>
   <a href="edlibrea2019"><div class="card-header text-white text-secondary">
          <h10>2019</h10>
        </div></a>
      <a href="edlibrec2018">  <div class="card-header text-white text-secondary">
          <h10>c2018</h10>
        </div> </a>
      <a href="edlibrea2018">  <div class="card-header text-white text-secondary">
          <h10>a2018</h10>
        </div></a>
        <a href="edlibrec2017">  <div class="card-header text-white text-secondary">
          <h10>C2017</h10>
        </div></a>
        <a href="edlibrea2017">  <div class="card-header text-white text-secondary">
          <h10>a2017</h10>
        </div></a>
        <a href="edlibrec2016">  <div class="card-header text-white text-secondary">
          <h10>c2016</h10>
        </div></a>
        <a href="edlibrec2015">  <div class="card-header text-white text-secondary">
          <h10>c2015</h10>
        </div></a>
         <a href="edlibrea2015">  <div class="card-header text-white text-secondary">
          <h10>a2015</h10>
        </div></a>
        <a href="edlibre2014">  <div class="card-header text-white text-secondary">
          <h10>2014</h10>
        </div></a>
</div>

<div class="col">
 <div class="card-header border-primary mt-1">
          <h3>Femenil</h3>
        </div>
        <a href="/edfemeglobal"><div class="card-header">
          <h8>Globales</h8>
        </div></a>
       <a href="/edfemenilc19"><div class="card-header text-secondary">
          <h10>C2019</h10>
        </div></a>
      <a href="/edfemenila19">  <div class="card-header text-secondary">
          <h10>A2019</h10>
        </div> </a>
     <a href="/edfemenilc18">  <div class="card-header text-secondary">
          <h10>c2018</h10>
        </div> </a>
        <a href="/edfemenila17">  <div class="card-header text-secondary">
          <h10>a2017</h10>
        </div> </a>
         <a href="/edfemenilc17">  <div class="card-header text-secondary">
          <h10>c2017</h10>
        </div> </a>
        <a href="/edfemenil16">  <div class="card-header text-secondary">
          <h10>2016</h10>
        </div> </a>
</div>


<div class="col">
 <div class="card-header border-primary mt-1">
          <h3>Mixta</h3>
        </div>
         <a href="/edmixtaglobal"><div class="card-header">
          <h8>Globales</h8>
        </div></a>
        <a href="/edmixtoc19"><div class="card-header text-secondary">
          <h10>C19</h10>
        </div></a>
      <a href="/edmixtoc18">  <div class="card-header text-secondary">
          <h10>C18</h10>
        </div> </a>
       <a href="/edmixtoa18">  <div class="card-header text-secondary">
          <h10>A18</h10>
        </div> </a>
        <a href="/edmixto17">  <div class="card-header text-secondary">
          <h10>17</h10>
        </div> </a>
</div>


<div class="col">
 <div class="card-header border-primary mt-1">
          <h3>S23</h3>
        </div>
         <a href="/eds23global"><div class="card-header">
          <h8>Globales</h8>
        </div></a>
         <a href="/eds23c19"><div class="card-header text-secondary">
          <h10>C19</h10>
        </div></a>
      
</div>

<div class="col">
 <div class="card-header border-primary mt-1">
          <h3>S20</h3>
        </div>
       <a href="/eds20global"><div class="card-header">
          <h8>Globales</h8>
        </div></a>
         <a href="/eds20i19"><div class="card-header text-secondary">
          <h10>I19</h10>
        </div></a>
         <a href="/eds20a19"><div class="card-header text-secondary">
          <h10>a19</h10>
        </div></a>
      <a href="/eds20c19"><div class="card-header text-secondary">
          <h10>c19</h10>
        </div></a>
     <a href="/eds20c18"><div class="card-header text-secondary">
          <h10>c18</h10>
        </div></a>
</div>

<div class="col">
 <div class="card-header border-primary mt-1">
          <h3>S17</h3>
        </div>
        <a href="/eds17global"><div class="card-header">
          <h8>Globales</h8>
        </div></a>
         <a href="/eds1718"><div class="card-header text-secondary">
          <h10>2018</h10>
        </div></a>
      <a href="/eds1717"><div class="card-header text-secondary">
          <h10>2017</h10>
        </div></a>
     <a href="/eds17a16"><div class="card-header text-secondary">
          <h10>a16</h10>
        </div></a>
</div>

 </div>  

 </div>  

</div>  





<div class="row">

<div class="col">
 <div class="card-header border-primary mt-2">
          <h3>Globales</h3>
        </div>
        <a href="/edhistorico"><div class="card-header text-secondary">
          <h8>Tabla General que incluye
            a todos los torneos jugados en liga ed
          </h8>
        </div></a>
        
        
</div>

<div class="col">
 <div class="card-header border-primary mt-2">
          <h3>Globales Sabatina</h3>
        </div>
        <a href="/edinferiores"><div class="card-header text-secondary">
          <h8>Tabla Historica que incluye
            a todos los torneos categorias inferiores.
          </h8>
        </div></a>
        
        
</div>

<div class="col">
 <div class="card-header border-primary mt-2">
          <h3>Globales Dominical</h3>
        </div>
        <a href="/edmayores"><div class="card-header text-secondary">
          <h8>Tabla Historica que incluye
            a todos los torneos Categoria mayores.
          </h8>
        </div></a>
        
        
</div>
 </div>  


</div> 