<style type="text/css">
.yoimagen{
    margin-top: -150px;
}

.yokids{
    margin-top: -90px;
}
a {
  color: black;
}

</style>

<div class="container m-4 p-4">

<div class="card-deck">
    <a href="/ligaed">
  <div class="card bg-light mb-3 text-center">
    <img class="card-img-top img-fluid img-thumbnail" src="/img/campeonpasado.jpg" alt="Card image cap">
    <div class="text-center">
         <img src="/img/ligaed.png" alt="" class="img-fluid yoimagen  img-thumbnail" width="100px" height="100px"> </div>
    <div class="card-body">
      <h5 class="card-title">Liga ED</h5>
      <p class="card-text">
Heroes Tecamac Cedros <br />
          Futbol Rapido<br />
        
          </div>
      <p class="card-footer">
          <small class="text-muted">
<a href="#"><img class="img-fluid" src="/img/face.png" width="40px" height="40px" ><img> Visitanos</a>
              </small></p>
    
  </div>
  </a>
   <div class="card bg-light mb-3 text-center">
    <img class="card-img-top img-fluid img-thumbnail" src="/img/kidsportada.jpg" alt="Card image cap">
    <div class="text-center">
         <img src="/img/championskids.png" alt="" class="img-fluid yokids  img-thumbnail" width="100px" height="100px"> </div>
    <div class="card-body">
      <h5 class="card-title">Champiosn Kids</h5>
      <p class="card-text">
Heroes Tecamac Cedros <br />
          Futbol Rapido<br />
          Checa todas tus estadisticas dando click
          a esta tarjeta <br />
          </div>
      <p class="card-footer">
          <small class="text-muted">
<a href="#"><img class="img-fluid" src="/img/face.png" width="40px" height="40px"><img> Visitanos</a>
              </small></p>
    
  </div>
  <div class="card bg-light mb-3 text-center">
    <img class="card-img-top img-fluid img-thumbnail" src="/img/portadafb.jpg" alt="Card image cap">
    <div class="text-center">
         <img src="/img/FB.png" alt="" class="img-fluid yokids  " width="100px" height="60px"> </div>
    <div class="card-body">
      <h5 class="card-title">Copa FB</h5>
      <p class="card-text">
Heroes Tecamac Cedros <br />
          Futbol Rapido<br />
          Checa todas tus estadisticas dando click
          a esta tarjeta <br />
          </div>
      <p class="card-footer">
          <small class="text-muted">
<a href="#"><img class="img-fluid" src="/img/face.png" width="40px" height="40px"><img> Visitanos</a>
              </small></p>
    
  </div>
</div>

</div>

<div class="container mt-3">

<div class="card-deck">
    <a href="/ligaed">
  <div class="card bg-light mb-3 text-center">
    <img class="card-img-top img-fluid" src="/img/campeonpasado.jpg" alt="Card image cap">
    <div class="text-center">
         <img src="/img/ligaed.png" alt="" class="img-fluid yoimagen  img-thumbnail" width="100px" height="100px"> </div>
    <div class="card-body">
      <h5 class="card-title">Liga ED</h5>
      <p class="card-text">
Conoce todos nuestros torneo <br />
          Libre Dominical <br />
          Libre Dominical <br />
      <p class="card-text">
          <small class="text-muted">
<a href="#"><img class="img-fluid" src="/img/face.png" width="40px" height="40px"><img> Visitanos</a>
              </small></p>
    </div>
  </div>
  </a>
   <div class="card bg-light mb-3 text-center">
    <img class="card-img-top img-fluid" src="/img/campeonpasado.jpg" alt="Card image cap">
    <div class="text-center">
         <img src="/img/ligaed.png" alt="" class="img-fluid yoimagen  img-thumbnail" width="100px" height="100px"> </div>
    <div class="card-body">
      <h5 class="card-title">Liga ED</h5>
      <p class="card-text">
Conoce todos nuestros torneo <br />
          Libre Dominical <br />
          Libre Dominical <br />
      <p class="card-text">
          <small class="text-muted">
<a href="#"><img class="img-fluid" src="/img/face.png" width="40px" height="40px"><img> Visitanos</a>
              </small></p>
    </div>
  </div>
  <div class="card bg-light mb-3 text-center">
    <img class="card-img-top img-fluid" src="/img/campeonpasado.jpg" alt="Card image cap">
    <div class="text-center">
         <img src="/img/ligaed.png" alt="" class="img-fluid yoimagen  img-thumbnail" width="100px" height="100px"> </div>
    <div class="card-body">
      <h5 class="card-title">Liga ED</h5>
      <p class="card-text">
Conoce todos nuestros torneo <br />
          Libre Dominical <br />
          Libre Dominical <br />
      <p class="card-text">
          <small class="text-muted">
<a href="#"><img class="img-fluid" src="/img/face.png" width="40px" height="40px"><img> Visitanos</a>
              </small></p>
    </div>
  </div>
</div>

</div>


