 <div class="row">
 
 <div class="col">
 <div class="card-header border-primary">
          <h3>Liga ed</h3>
        </div>
        <div class="card-header">
          <h8>Libre</h8>
        </div>
   <a href="/admin/edlibreadd"><div class="card-header text-white bg-primary">
          <h10>Jornadas</h10>
        </div></a>
      <a href="/admin/edlibrevista">  <div class="card-header text-white bg-secondary">
          <h10>Vistas</h10>
        </div> </a>
      <a href="/admin/edlibregoles">  <div class="card-header text-white bg-success mb-3">
          <h10>Goleo</h10>
        </div></a>
</div>

<div class="col">
 <div class="card-header border-primary">
          <h3>Liga ed</h3>
        </div>
        <div class="card-header">
          <h8>Mixta</h8>
        </div>
       <a href="/admin/add"><div class="card-header text-white bg-primary">
          <h10>Jornadas</h10>
        </div></a>
      <a href="/admin/vista">  <div class="card-header text-white bg-secondary">
          <h10>Vistas</h10>
        </div> </a>
      <a href="">  <div class="card-header text-white bg-success mb-3">
          <h10>Goleo</h10>
        </div></a>
</div>


<div class="col">
 <div class="card-header border-primary">
          <h3>Liga ed</h3>
        </div>
        <div class="card-header">
          <h8>Femenil</h8>
        </div>
        <a href="edfemadd"><div class="card-header text-white bg-primary">
          <h10>Jornadas</h10>
        </div></a>
      <a href="edfemvista">  <div class="card-header text-white bg-secondary">
          <h10>Vistas</h10>
        </div> </a>
      <a href="/admin/goles">  <div class="card-header text-white bg-success mb-3">
          <h10>Goleo</h10>
        </div></a>
</div>


<div class="col">
 <div class="card-header border-primary">
          <h3>Liga ed</h3>
        </div>
        <div class="card-header">
          <h8>Sub20</h8>
        </div>
         <a href="eds20add"><div class="card-header text-white bg-primary">
          <h10>Jornadas</h10>
        </div></a>
      <a href="eds20vista">  <div class="card-header text-white bg-secondary">
          <h10>Vistas</h10>
        </div> </a>
      <a href="eds20goles">  <div class="card-header text-white bg-success mb-3">
          <h10>Goleo</h10>
        </div></a>
</div>
 </div>  

<div class="row">
 
 <div class="col">
 <div class="card-header border-primary">
          <h3>Liga ed</h3>
        </div>
        <div class="card-header">
          <h8>Sub-23</h8>
        </div>
       <a href="eds23add"><div class="card-header text-white bg-primary">
          <h10>Jornadas</h10>
        </div></a>
      <a href="eds23vista">  <div class="card-header text-white bg-secondary">
          <h10>Vistas</h10>
        </div> </a>
      <a href="eds23goles">  <div class="card-header text-white bg-success mb-3">
          <h10>Goleo</h10>
        </div></a>
</div>

<div class="col">
 <div class="card-header border-success">
          <h3>Kids</h3>
        </div>
        <div class="card-header">
          <h8>Sub-18</h8>
        </div>
       <a href=""><div class="card-header text-white bg-primary">
          <h10>Jornadas</h10>
        </div></a>
      <a href="">  <div class="card-header text-white bg-secondary">
          <h10>Vistas</h10>
        </div> </a>
      <a href="">  <div class="card-header text-white bg-success mb-3">
          <h10>Goleo</h10>
        </div></a>
</div>


<div class="col">
 <div class="card-header border-danger">
          <h3>Copa FB</h3>
        </div>
        <div class="card-header">
          <h8>Sub-21</h8>
        </div>
        <a href=""><div class="card-header text-white bg-primary">
          <h10>Jornadas</h10>
        </div></a>
      <a href="">  <div class="card-header text-white bg-secondary">
          <h10>Vistas</h10>
        </div> </a>
      <a href="">  <div class="card-header text-white bg-success mb-3">
          <h10>Goleo</h10>
        </div></a>
        <div class="card-header">
          <h8>Sub-18</h8>
        </div>
        <a href=""><div class="card-header text-white bg-primary">
          <h10>Jornadas</h10>
        </div></a>
      <a href="">  <div class="card-header text-white bg-secondary">
          <h10>Vistas</h10>
        </div> </a>
      <a href="">  <div class="card-header text-white bg-success mb-3">
          <h10>Goleo</h10>
        </div></a>
</div>


<div class="col">
 <div class="card-header border-warning">
          <h3>LFH</h3>
        </div>
        <div class="card-header">
          <h8>Mixta</h8>
        </div>
        <a href=""><div class="card-header text-white bg-primary">
          <h10>Jornadas</h10>
        </div></a>
      <a href="">  <div class="card-header text-white bg-secondary">
          <h10>Vistas</h10>
        </div> </a>
      <a href="">  <div class="card-header text-white bg-success mb-3">
          <h10>Goleo</h10>
        </div></a>
        <div class="card-header">
          <h8>Femenil</h8>
        </div>
        <a href=""><div class="card-header text-white bg-primary">
          <h10>Jornadas</h10>
        </div></a>
      <a href="">  <div class="card-header text-white bg-secondary">
          <h10>Vistas</h10>
        </div> </a>
      <a href="">  <div class="card-header text-white bg-success mb-3">
          <h10>Goleo</h10>
        </div></a>
</div>
   
 